.form {
  &__line {
    border-bottom: $border;
    padding-top: 2em;
    margin-bottom: 2em;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;

    &--label {
      flex: 2;
      margin: 10px;
      padding: 13px;
      font-weight: $font-bold;
      color: $color-grey-1;
    }

    &--input {
      flex: 10;

      input[type="text"],
      input[type="password"],
      input[type="email"] {
        margin: 10px;
        border: $border;
        border-radius: 4px;
        outline-color: $color-grey-1;
        outline-width: 1px;
        margin: 10px;
        padding: 12px 15px;
        width: 95%;

        &:hover {
          transition: all .4s;
          border: $border;
        }

        &:focus {
          background-color: $color-grey-4;
        }
      }
    }
  }
}


@media (max-width: 720px) {
  .form {
    &__section {
      flex-direction: column;

      &--label {
        margin: 0 10px;
        padding: 13px 13px 0 10px;
      }
    }
  }
}
