.main {
  background: $color-grey-4;
  padding-top: 50px;
  padding-bottom: 1px;
  width: calc(100% - 200px);
  margin-left: 200px;
  transition: all .5s ease-in-out;

  &.active {
    width: calc(100% - 70px);
    margin-left: 70px;
  }
}
