.stats {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  &__column {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: $border;

    &--title {
      font-size: $font-size-normal;
      font-weight: $font-medium;
      color: $color-grey-2;
    }

    &--number {
      color: $color-dark;
    }
  }
}

/*
.earnings {
  padding: 4em 0;

  &-chart img {
    width: 100%;
  }


.links-button {
  text-align: center;
  padding: 1em 0 1.5em 0;
}
}*/
