.topbar {
  background-color: $color-white;
  border-bottom: $border;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -1px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &__item {
    display: inline;
    list-style: none;
    padding: 1.2em;
    border-left: $border;

    &:hover {
      background: $color-grey-4;
    }

    .icon-arrow-down-small {
      font-size: $font-size-small;
      padding-top: 10px;
    }

    .icon-notification {
      font-size: $font-size-normal;
    }

    &--price {
      font-size: 17px;
      font-weight: $font-regular;
      color: $color-grey-1;
    }

    &--user {
      font-size: $font-size-medium;
      font-weight: $font-regular;
      color: $color-blue;
    }

    &--icon {
      padding: 0 5px;
    }

    &--dot {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      top: 27%;
      right: 52.5%;
      background-color: $color-orange-1;
    }

    a {
      &:hover {
        color: $color-grey-1;
      }
    }
  }
}
