.topbar {
  width: 100%;
  background-color: $color-white;
  border-bottom: $border;

  li {
    display: inline;
    list-style: none;
    padding: 16px;
    border-left: $border;

    &:first-child {
      font-weight: $font-bold;
      color: $color-grey-1;
    }

    &:hover {
      background: $color-grey-4;
      color: $color-grey-1;
    }

  }
}
