/* Colors */
$color-dark: #333333;
$color-semi-dark: #979797;
$color-semi-light: #e3e3e3;
$color-light: #f5f5f2;
$color-orange: #f58220;
$color-green: #04ae00;
$color-semi-green: #74b67a;
$color-light-green: #96cc9b;
$color-dark-pink: #de5252;
$color-light-pink: #ec7171;
$color-blue: #56819f;
$color-red: #ff0000;


/* Font sizes */
$font-size-normal: 16px;
$font-size-mid: 14px;
$font-size-small: 11px;


/* Fonts */
$font-text: "Roboto", Helvetica, Arial;


/* Font weight */
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;


/* Transition */
$transition: all .5s ease-in-out;

/* Borders */
$color-border: 1px solid $color-semi-light;
