.date {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: $border;

  &__input {
    display: flex;
    align-items: center;
    height: 40px;
    border: $border;
    border-radius: 4px;
    margin-right: 10px;


    &--start {
      //width: 200px;
      flex: 0 0 33%;
      padding: 10px 20px 10px 12px;

      input {
        border: 0;
        color: $color-dark;
      }
    }

    &--end {
      padding: 10px 0 10px 10px;
      //width: 160px;
      flex: 0 0 33%;
      border-left: $border;

      input {
        border: 0;
        color: $color-dark;
      }
    }

    &--icon {
      padding-right: 10px !important;
      color: $color-dark;
    }
  }
}


@media (max-width: 767px) {
  .date__input {
    flex-direction: column;
  }
}
