
.section-header {
  font-size: $font-size-normal;
  font-weight: $font-medium;
  color: $color-grey-2;
  text-transform: uppercase;
}

.section-header-line {
  font-size: $font-size-normal;
  font-weight: $font-medium;
  color: $color-grey-2;
  padding: 20px 0;
  text-transform: uppercase;
  border-bottom: $border;
}

/*
.page-header {
  font-size: $font-size-normal;
  font-weight: $font-regular;
  color: $color-grey-2;
  text-transform: uppercase;
}

.heading {
  &__page {
    font-size: $font-size-normal;
    font-weight: $font-regular;
    color: $color-grey-2;
    text-transform: uppercase;
  }

  &__section {
    font-size: $font-size-normal;
    font-weight: $font-bold;
    color: $color-grey-2;
  }
  &__line {
    font-size: $font-size-normal;
    font-weight: $font-bold;
    color: $color-grey-2;
    line-height: 2;
    border-bottom: $border;
  }
}
*/
