.section {
  &__title {
    font-size: $font-size-normal;
    font-weight: $font-medium;
    color: $color-grey-1;
    text-transform: uppercase;
    padding: 10px 20px 18px 20px;
    border-bottom: $border;
  }

  &__subtitle {
    font-size: $font-size-normal;
    font-weight: $font-medium;
    color: $color-grey-1;
  }
}
