.menu {
  padding: 0 0 .5em 0;
  margin-top: 0;

  li {
    list-style: none;
  }

  &__item {
    padding: .7em;
    font-size: $font-size-normal;
    border-left: 4px solid $color-menu;

    &--icon {
      color: $color-grey-2;
      padding: 0 10px;
    }

    &--title {
      color: $color-grey-2;
    }

    &:hover {
      background: $color-dark;
      border-left: 4px solid $color-orange-1;
      color: $color-white;

      span {
        color: $color-white;
      }
    }
  }
}
