* {
  box-sizing: border-box;
}

.ovrl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
  // display: flex;

  .show {
    display: flex;
  }
}

.ovrl::webkit-scrollbar {
  display: none;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: $color-white;
  position: relative;
  // padding: 30px;
  display: none;
  // display: block;
  border-radius: 5px;

  .show {
    display: block;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
  }

  .md-padding {
    padding: 20px;
  }
}

.modal-big {
  width: calc(100% - 30%);
  margin: auto;
  background-color: $color-white;
  border-radius: 5px;
}

#modal-quit {
  button {
    flex: 1;
    margin: 5px;
  }
}

.modal-row {
  display: flex;
  flex-wrap: wrap;

  .form__label {
    margin: 0;
  }
}

.modal-scroll {
  height: 300px;
  overflow-y: scroll;
}

.modal-full {
  display: flex;
  padding-bottom: 10px;

  input {
    margin: 5px;
  }
  button {
    width: 200px;
    margin: 5px;
  }
}
