.table {
  width: 100%;
  margin-bottom: 1rem;

  &-row {
    color: $color-grey-1;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      border-bottom: $border;
    }

    &:hover {
      background-color: $color-grey-4;

      .overlay {
        display: flex;
      }
    }
  }

  &-cell {
    padding: 0.95rem;
    border-top: $border;
    position: relative;
    flex: 0 0 33%;

    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      display: none;
      align-items: center;
      justify-content: center;
      color: $color-grey-3;

      .icon-links {
        color: $color-orange-1;
        padding: 0 20px;
      }

      .icon-trash {
        color: $color-grey-1;
      }
    }
  }

  .title {
    font-weight: $font-bold;
  }

  .address {
    color: $color-blue;
  }
}
